In [4]:
# Step 1: Install required libraries
!pip install tweepy pandas

Requirement already satisfied: tweepy in c:\users\home\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: pandas in c:\users\home\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\home\anaconda3\lib\site-packages (from tweepy) (3.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\home\anaconda3\lib\site-packages (from tweepy) (2.32.3)
Requirement already satisfied: requests-oauthlib<3,>=1.2.0 in c:\users\home\anaconda3\lib\site-packages (from tweepy) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\home\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\home\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\home\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\home\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\home\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\home\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2025.4.26)

In [5]:
# Step 2: Import required libraries and define folders
import tweepy
import pandas as pd
import os
import time
from requests.exceptions import ConnectionError
from urllib3.exceptions import ProtocolError

# üîê Paste your actual Bearer Token here
bearer_token = "AAAAAAAAAAAAAAAAAAAAAJW22gEAAAAA20xyNPhvzMsRD4%2Bf2H5aw4AjXKM%3DROULoOBUEBKAQfErZZss3SIDTKIdZC8PdmQiWP9qOEt2T0PRKL"

# Authenticate
client = tweepy.Client(bearer_token=bearer_token)

# Create the 'data' folder if it doesn't exist
os.makedirs("../data", exist_ok=True)

In [6]:
# Step 4: Define function to fetch tweets from Twitter
def fetch_tweets(query, filename, max_results=20):
    try:
        tweets = client.search_recent_tweets(
            query=query,
            tweet_fields=['created_at', 'text', 'lang'],
            max_results=max_results
        )

        tweet_data = []
        if tweets.data:
            for tweet in tweets.data:
                tweet_data.append({
                    'created_at': tweet.created_at,
                    'text': tweet.text
                })

            df = pd.DataFrame(tweet_data)
            df.to_csv(f"../data/{filename}.csv", index=False)
            print(f"‚úÖ {len(df)} tweets saved to {filename}.csv")
            return df
        else:
            print("‚ö†Ô∏è No tweets found.")
            return pd.DataFrame()

    except tweepy.TooManyRequests:
        print("‚è≥ Rate limit hit. Waiting 15 minutes...")
        time.sleep(900)
        return fetch_tweets(query, filename, max_results)

    except (ConnectionError, ProtocolError):
        print("üîÅ Connection issue. Retrying in 1 minute...")
        time.sleep(60)
        return fetch_tweets(query, filename, max_results)

    except Exception as e:
        print(f"‚ùå Unexpected error: {e}")
        return pd.DataFrame()

In [7]:
# Step 5: Call the function with your query and save tweets
df = fetch_tweets("#ChatGPT4o -is:retweet lang:en", "chatgpt4o", max_results=20)
df.head()

‚úÖ 20 tweets saved to chatgpt4o.csv

                 created_at                                               text
0 2025-06-25 02:29:23+00:00  Katy Perry and Ros√© together in an iconic mome...
1 2025-06-25 02:13:52+00:00  Zendaya and Timoth√©e Chalamet in perfect harmo...
2 2025-06-25 01:18:45+00:00  Wednesday, Jun 25, 2025\n#AIart #ChatGPT4o #Da...
3 2025-06-25 01:18:28+00:00  Wednesday, Jun 25, 2025\n#AIart #ChatGPT4o #Da...
4 2025-06-24 23:56:36+00:00  ‚ú® Nicola Coughlan as a dream fairy! Glowing in...

In [8]:
# Step 5: Call the function with your query and save tweets
df_it = fetch_tweets("#ITLayoffs -is:retweet lang:en", "itlayoffs", max_results=20)
df_it.head()

‚è≥ Rate limit hit. Waiting 15 minutes...
üîÅ Connection issue. Retrying in 1 minute...
‚úÖ 4 tweets saved to itlayoffs.csv

                 created_at                                               text
0 2025-06-22 07:50:11+00:00  https://t.co/mqp8UN3BxB\nIBM\nThread topic:\nO...
1 2025-06-19 09:17:38+00:00  https://t.co/tFCN5jC0ty\nIBM\nThread topic:\nB...
2 2025-06-18 09:54:49+00:00  Resign by 2 PM." India‚Äôs IT dream is turning i...
3 2025-06-18 07:47:42+00:00  https://t.co/QzcnnBSYgz\nIBM\nThread topic:\nA...

In [9]:
# Step 5: Call the function with your query and save tweets
df_tcs = fetch_tweets("#TCS -is:retweet lang:en", "tcs", max_results=20)
df_tcs.head()

‚è≥ Rate limit hit. Waiting 15 minutes...
üîÅ Connection issue. Retrying in 1 minute...
‚úÖ 20 tweets saved to tcs.csv

                 created_at                                               text
0 2025-06-25 06:01:41+00:00  @MamataOfficial To Bengal's detractors‚Äîthe TCS...
1 2025-06-25 05:56:30+00:00  TCS is leading the way! üöÄ\n\nAnnounces a massi...
2 2025-06-25 05:54:52+00:00  IT Sector Breakout Alert!  üö®\nNifty IT‚Äôs head ...
3 2025-06-25 05:45:47+00:00  #KALYANKJIL 520 CE\n\n‚úÖ 39 from 22 üíì\n‚úÖ 20000+...
4 2025-06-25 05:32:39+00:00  June 25, 2025\n#ConstructionNews\n‚ñ∂Ô∏èAurum Alum...